/* OpenDyslexic Regular */
@font-face {
    font-family: 'OpenDyslexic';
    src: url('/src/assets/fonts/OpenDyslexic-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

/* OpenDyslexic Bold */
@font-face {
    font-family: 'OpenDyslexic';
    src: url('/src/assets/fonts/OpenDyslexic-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}