/* OpenDyslexic Regular */
@font-face {
  font-family: 'OpenDyslexic';
  src: url('standard_fonts/OpenDyslexic-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

/* OpenDyslexic Bold */
@font-face {
  font-family: 'OpenDyslexic';
  src: url('standard_fonts/OpenDyslexic-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}

/* OpenDyslexic Italic */
@font-face {
  font-family: 'OpenDyslexic';
  src: url('standard_fonts/OpenDyslexic-Italic.woff2') format('woff2');
  font-weight: normal;
  font-style: italic;
}

/* OpenDyslexic Bold Italic */
@font-face {
  font-family: 'OpenDyslexic';
  src: url('standard_fonts/OpenDyslexic-Bold-Italic.woff2') format('woff2');
  font-weight: bold;
  font-style: italic;
}