@font-face {
  font-family: 'OpenDyslexic';
  src: url('standard_fonts/OpenDyslexic-Regular.otf') format('opentype'),
}

@font-face {
  font-family: 'OpenDyslexic Bold';
  src: url('standard_fonts/OpenDyslexic-Bold.otf') format('opentype');
}

@font-face {
  font-family: 'OpenDyslexic Italic';
  src: url('standard_fonts/OpenDyslexic-Italic.otf') format('opentype');
}

/* Optional: make all text use chosen font when applied */
.viewerDyslexic {
  font-family: 'OpenDyslexic', sans-serif !important;
}
.viewerDyslexicBold {
  font-family: 'OpenDyslexic Bold', sans-serif !important;
}
.viewerDyslexicMono {
  font-family: 'OpenDyslexic Italic', sans-serif !important;
}

.textLayer {
  opacity: 1 !important;
  color: black !important;
  mix-blend-mode: normal !important;
  pointer-events: auto;
}

.textLayer span.defaultFont {
  font-family: inherit !important;
}

.textLayer span.dyslexic {
  font-family: 'OpenDyslexic', sans-serif !important;
  color: black !important;
  letter-spacing: -0.25em !important;
}

.textLayer span.dyslexicBold {
  font-family: 'OpenDyslexic Bold', sans-serif !important;
  color: black !important;
  letter-spacing: -0.3em !important;
}
.textLayer span.dyslexicItalic {
  font-family: 'OpenDyslexic Italic', monospace !important;
  color: black !important;
  letter-spacing: -0.22em !important;
}

.page .textLayer.dyslexicTransform {
  position: absolute;
  transform-origin: 50%, 50%;
  transform: translate(0, 0);
}